{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
</head>
<body>
  <!-- Sidebar -->
  {% include 'partials/sidebar.html' %}


  <!-- Page Content -->
  <div class="content-area">
      <header class="page-header">
      <button class="sidebar-toggle" onclick="toggleSidebar()" style="background: none; color: black;">☰</button>
      <h2>Profile</h2>
    </header>
    <!-- Update Profile Form -->
  <section class="form-section">
    <h3>Update Profile Info</h3>
    <form method="POST" enctype="multipart/form-data">
    {% for message in messages %}
  {% if 'profile' in message.tags %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
  {% endif %}
{% endfor %}

      {% csrf_token %}
      <div class="profile-image-preview">
      <img src="{{profile.profile_picture.url}}" alt="Profile" width="100" style="border-radius: 50%;">
      </div>

      <label for="first_name">First Name</label>
      <input type="text" name="first_name" value="{{ user.first_name }}">

      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" value="{{ user.last_name }}">

      <label for="contact">Contact Number</label>
      <input type="text" name="contact" value="{{user.profile.contact_number }}">

      <label for="profile_image">Change Profile Image</label>
      <input type="file" name="profile_picture">

      <button type="submit">Update Profile</button>
    </form>
  </section>

  <!-- Change Password Form -->
  <section class="form-section">
    <h3>Change Password</h3>
    <form method="POST" action="{% url 'password_change' %}">
     {% for message in messages %}
  {% if 'password' in message.tags %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
  {% endif %}
{% endfor %}
      {% csrf_token %}
      <label for="old_password">Old Password</label>
      <input type="password" name="old_password" required>

      <label for="new_password1">New Password</label>
      <input type="password" name="new_password1" required>

      <label for="new_password2">Confirm New Password</label>
      <input type="password" name="new_password2" required>

      <button type="submit">Change Password</button>
    </form>
  </section>
  </div>
  <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>

