<!-- templates/partials/sidebar.html -->
<aside class="sidebar" id="sidebar">
  <h1>
    <button class="mobile-sidebar-close" onclick="toggleSidebar()" style="font-size: 1.8rem; background: none; border: none; color: white; cursor: pointer; margin-right: 25px;">☰</button>
    ASL Sign Translator
  </h1>

  <div class="sidebar-profile">
    <img src="{{ user.profile.profile_picture.url|default:'/media/profile_images/user.png' }}" alt="Profile" class="sidebar-avatar">
    <span class="sidebar-username">{{ user.first_name }} {{ user.last_name }}</span>
  </div>

  <!-- Light/Dark Theme Toggle Switch -->
<div class="theme-toggle-wrapper">
  <label class="toggle-switch">
    <input type="checkbox" id="themeSwitch" />
    <span class="slider"></span>
  </label>
  <span class="theme-label" id="themeLabel">Light Mode</span>
</div>


  <ul>
    <li><a href="{% url 'predict' %}"><i class="fa-solid fa-gauge-high"></i><span>Dashboard</span></a></li>
    <li><a href="{% url 'english_to_asl' %}"><i class="fa-solid fa-language"></i><span>English to ASL</span></a></li>
    <li><a href="{% url 'profile' %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
    <li><a href="{% url 'prediction_history' %}"><i class="fas fa-chart-line"></i><span>Prediction History</span></a></li>
    <li><a href="{% url 'user_history' %}"><i class="fas fa-history"></i><span>User History</span></a></li>
    <li><a href="{% url 'sentence_history' %}"><i class="fas fa-align-left"></i><span>Sentence History</span></a></li>
    <li><a href="{% url 'asl_video_history' %}"><i class="fas fa-video"></i><span>Video History</span></a></li>

    {% if user.is_superuser %}
    <li><a href="{% url 'admin_prediction_history' %}"><i class="fas fa-users"></i><span>Users Prediction History</span></a></li>
    <li><a href="{% url 'admin_user_history' %}"><i class="fas fa-clipboard-list"></i><span>Users Audit History</span></a></li>
    <li><a href="{% url 'admin_sentence_history' %}"><i class="fas fa-file-alt"></i><span>Users Sentence History</span></a></li>
    <li><a href="{% url 'admin_video_history' %}"><i class="fas fa-users"></i><span>User's Video History</span></a></li>
    <li>
  <a href="{% url 'admin_user_list' %}">
    <i class="fas fa-user-shield"></i>
    <span>Manage Users</span>
  </a>
</li>
    {% endif %}

    <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
  </ul>
</aside>
